

.center {
  text-align: center;
}

.flex-container {
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}
span {
  margin-top: 35%;
  display: block;
}

.jidlo {
  border-radius: 100%;
  height: 10em;
  width: 10em; 
}

.beh {
  border-radius: 100%;
  height: 10em;
  width: 10em; 
}

.meditace {
  border-radius: 100%;
  height: 10em;
  width: 10em; 
}

.flexitem {
  border-radius: 100%;
  height: 10em;
  width: 10em;
}

*{
  background-color: #fff5e6;
}

p {
  border: 2px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}